<div class="center-title"><h1>Nasa Pictures of The Days</h1></div>

<div class="loading">
  <mat-spinner class="center-loading" *ngIf="apods.length === 0; else divDashboard"></mat-spinner>
</div>

<ng-template #divDashboard>
  <div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="20px"
  >
    <div fxFlex="30" *ngFor="let apod of apods; let i = index" class="animate__animated animate__fadeIn">
      <app-apod-card [apod]="apod"></app-apod-card>
    </div>
  </div>
</ng-template>
